# **World Population Analysis**


---


### Mounting Google Drive
Goto to link and paste the authorization code below.

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Downloading World Population Prospects 2019 data
Download annual and single age (male and female seperate) datasets from <a href='https://population.un.org/wpp/Download/Standard/Interpolated/'>World Population Prospects 2019</a>

### Upload datasets to drive
Upload `WPP2019_INT_F03_2_POPULATION_BY_AGE_ANNUAL_MALE.xlsx` and `WPP2019_INT_F03_3_POPULATION_BY_AGE_ANNUAL_FEMALE.xlsx` dataset files to `/My Drive/population_data/`

### Loading data
Loading male and female data of population by ages

In [37]:
import pandas as pd

world_population_male =  pd.read_excel('/content/drive/My Drive/population_data/WPP2019_INT_F03_2_POPULATION_BY_AGE_ANNUAL_MALE.xlsx', sheet_name='ESTIMATES', index_col='Index', header=16)
world_population_female =  pd.read_excel('/content/drive/My Drive/population_data/WPP2019_INT_F03_3_POPULATION_BY_AGE_ANNUAL_FEMALE.xlsx', sheet_name='ESTIMATES', index_col='Index', header=16)
world_population_male

         Variant Region, subregion, country or area *  ...      99     100
Index                                                  ...
1      Estimates                                WORLD  ...   4.887   9.393
2      Estimates                                WORLD  ...   4.562   8.429
3      Estimates                                WORLD  ...   4.268   7.648
4      Estimates                                WORLD  ...   4.017   7.009
5      Estimates                                WORLD  ...   3.812   6.483
...          ...                                  ...  ...     ...     ...
18101  Estimates             United States of America  ...   9.696  13.071
18102  Estimates             United States of America  ...   10.78  14.798
18103  Estimates             United States of America  ...  11.937  16.714
18104  Estimates             United States of America  ...   13.11  18.734
18105  Estimates             United States of America  ...  14.254  20.792

[18105 rows x 108 columns]

### Renaming ages columns
Renaming ages columns 0, 1, 2 ... 100 to gender1, gender2, gender3, ... gender100

In [38]:
world_population_male = world_population_male.rename({str(i):'male'+str(i) for i in range(101)}, axis='columns')
world_population_female = world_population_female.rename({str(i):'female'+str(i) for i in range(101)}, axis='columns')
world_population_female

         Variant Region, subregion, country or area *  ... female99  female100
Index                                                  ...
1      Estimates                                WORLD  ...    12.27     24.506
2      Estimates                                WORLD  ...   11.726     22.707
3      Estimates                                WORLD  ...   11.177     21.253
4      Estimates                                WORLD  ...   10.671     20.021
5      Estimates                                WORLD  ...   10.243     18.978
...          ...                                  ...  ...      ...        ...
18101  Estimates             United States of America  ...   33.218     57.178
18102  Estimates             United States of America  ...   35.294     61.437
18103  Estimates             United States of America  ...   37.449     66.192
18104  Estimates             United States of America  ...   39.617     71.215
18105  Estimates             United States of America  ...   41.738     76.312

[18105 rows x 108 columns]

### Merging data
Merging male and female data on the basis of first 7 columns which are same in both datasets

In [39]:
same_columns = list(world_population_male.columns[:7])
world_population_by_age_gender = pd.merge(world_population_male, world_population_female, how='left', left_on=same_columns, right_on=same_columns)
world_population_by_age_gender

         Variant Region, subregion, country or area *  ... female99  female100
0      Estimates                                WORLD  ...    12.27     24.506
1      Estimates                                WORLD  ...   11.726     22.707
2      Estimates                                WORLD  ...   11.177     21.253
3      Estimates                                WORLD  ...   10.671     20.021
4      Estimates                                WORLD  ...   10.243     18.978
...          ...                                  ...  ...      ...        ...
18100  Estimates             United States of America  ...   33.218     57.178
18101  Estimates             United States of America  ...   35.294     61.437
18102  Estimates             United States of America  ...   37.449     66.192
18103  Estimates             United States of America  ...   39.617     71.215
18104  Estimates             United States of America  ...   41.738     76.312

[18105 rows x 209 columns]

### Unnecessary data

In [40]:
world_population_by_age_gender[world_population_by_age_gender['male0'] == '...']

        Variant        Region, subregion, country or area *  ... female99  female100
71    Estimates                       UN development groups  ...      ...        ...
72    Estimates                       UN development groups  ...      ...        ...
73    Estimates                       UN development groups  ...      ...        ...
74    Estimates                       UN development groups  ...      ...        ...
75    Estimates                       UN development groups  ...      ...        ...
...         ...                                         ...  ...      ...        ...
1699  Estimates  Sustainable Development Goal (SDG) regions  ...      ...        ...
1700  Estimates  Sustainable Development Goal (SDG) regions  ...      ...        ...
1701  Estimates  Sustainable Development Goal (SDG) regions  ...      ...        ...
1702  Estimates  Sustainable Development Goal (SDG) regions  ...      ...        ...
1703  Estimates  Sustainable Development Goal (SDG) regions  ...      ...        ...

[284 rows x 209 columns]

### Removing unnecessary data

In [41]:
world_population_by_age_gender = world_population_by_age_gender.drop(world_population_by_age_gender[world_population_by_age_gender['male0'] == '...'].index)
world_population_by_age_gender

         Variant Region, subregion, country or area *  ... female99  female100
0      Estimates                                WORLD  ...    12.27     24.506
1      Estimates                                WORLD  ...   11.726     22.707
2      Estimates                                WORLD  ...   11.177     21.253
3      Estimates                                WORLD  ...   10.671     20.021
4      Estimates                                WORLD  ...   10.243     18.978
...          ...                                  ...  ...      ...        ...
18100  Estimates             United States of America  ...   33.218     57.178
18101  Estimates             United States of America  ...   35.294     61.437
18102  Estimates             United States of America  ...   37.449     66.192
18103  Estimates             United States of America  ...   39.617     71.215
18104  Estimates             United States of America  ...   41.738     76.312

[17821 rows x 209 columns]

### Average Age
Calculating average age of alive people in each Region, subregion, country or area *. Age is calculated for two categories male and female. Formula:

\begin{align*}
Average Age = \frac{\sum_{100}^{age=0} Population\;of\;age\;\times\;age}{Total\;population}
\end{align*}

Also multiply each population entry by 1000 because population is in thousands.

In [42]:
world_population_by_age_gender['Male Average Age Alive'] = 0
world_population_by_age_gender['Female Average Age Alive'] = 0
world_population_by_age_gender['Average Age Alive'] = 0
world_population_by_age_gender['Male Total Population'] = 0
world_population_by_age_gender['Female Total Population'] = 0
world_population_by_age_gender['Total Population'] = 0
for i in range(101):
  world_population_by_age_gender['male'+str(i)] = pd.to_numeric(world_population_by_age_gender['male'+str(i)], errors='coerce').fillna(0) * 1000
  world_population_by_age_gender['female'+str(i)] = pd.to_numeric(world_population_by_age_gender['female'+str(i)], errors='coerce').fillna(0) * 1000
  world_population_by_age_gender['Male Average Age Alive'] += world_population_by_age_gender['male'+str(i)] * i
  world_population_by_age_gender['Female Average Age Alive'] += world_population_by_age_gender['female'+str(i)] * i
  world_population_by_age_gender['Male Total Population'] += world_population_by_age_gender['male'+str(i)]
  world_population_by_age_gender['Female Total Population'] += world_population_by_age_gender['female'+str(i)]
world_population_by_age_gender['Total Population'] = world_population_by_age_gender['Male Total Population'] + world_population_by_age_gender['Female Total Population']
world_population_by_age_gender['Average Age Alive'] = (world_population_by_age_gender['Male Average Age Alive'] + world_population_by_age_gender['Female Average Age Alive'])/world_population_by_age_gender['Total Population']
world_population_by_age_gender['Male Average Age Alive'] /= world_population_by_age_gender['Male Total Population']
world_population_by_age_gender['Female Average Age Alive'] /= world_population_by_age_gender['Female Total Population']
world_population_by_age_gender

         Variant  ... Total Population
0      Estimates  ...     2.536431e+09
1      Estimates  ...     2.584034e+09
2      Estimates  ...     2.630862e+09
3      Estimates  ...     2.677609e+09
4      Estimates  ...     2.724847e+09
...          ...  ...              ...
18100  Estimates  ...     3.230160e+08
18101  Estimates  ...     3.250848e+08
18102  Estimates  ...     3.270963e+08
18103  Estimates  ...     3.290649e+08
18104  Estimates  ...     3.310026e+08

[17821 rows x 215 columns]

### Average ages of currently alive people ever from 1950-2019
This shows that most of the people alive in that country have that age

#### Minimum average ages ever (All countries)

In [43]:
world_population_by_age_gender.nsmallest(5, ['Average Age Alive'])[['Region, subregion, country or area *','Country code', 'Reference date (as of 1 July)' , 'Male Average Age Alive', 'Female Average Age Alive', 'Average Age Alive', 'Male Total Population', 'Female Total Population', 'Total Population']]

     Region, subregion, country or area *  ...  Total Population
5254                                Niger  ...         2559706.0
5255                                Niger  ...         2638130.0
5256                                Niger  ...         2716815.0
5257                                Niger  ...         2795799.0
7566                                Yemen  ...        11709987.0

[5 rows x 9 columns]

#### Minimum average ages of currently alive people 2019

In [44]:
world_population_by_age_2019 = world_population_by_age_gender[world_population_by_age_gender['Reference date (as of 1 July)'] == 2019]
world_population_by_age_2019.nsmallest(5, ['Average Age Alive'])[['Region, subregion, country or area *','Country code', 'Reference date (as of 1 July)' , 'Male Average Age Alive', 'Female Average Age Alive', 'Average Age Alive', 'Male Total Population', 'Female Total Population', 'Total Population']]

     Region, subregion, country or area *  ...  Total Population
5323                                Niger  ...        23310719.0
3051                               Uganda  ...        44269587.0
3619                                 Chad  ...        15946882.0
5181                                 Mali  ...        19658023.0
3406                               Angola  ...        31825299.0

[5 rows x 9 columns]

#### Maximum average ages of alive people ever by year (All countries)

In [45]:
world_population_by_age_gender.nlargest(5, ['Average Age Alive'])[['Region, subregion, country or area *','Country code', 'Reference date (as of 1 July)' , 'Male Average Age Alive', 'Female Average Age Alive', 'Average Age Alive', 'Male Total Population', 'Female Total Population', 'Total Population']]

     Region, subregion, country or area *  ...  Total Population
9371                                Japan  ...       126476458.0
9370                                Japan  ...       126860299.0
9369                                Japan  ...       127202190.0
9368                                Japan  ...       127502728.0
9367                                Japan  ...       127763267.0

[5 rows x 9 columns]

#### Maximum average ages of currently alive people 2019

In [46]:
world_population_by_age_2019.nlargest(5, ['Average Age Alive'])[['Region, subregion, country or area *','Country code', 'Reference date (as of 1 July)' , 'Male Average Age Alive', 'Female Average Age Alive', 'Average Age Alive', 'Male Total Population', 'Female Total Population', 'Total Population']]

      Region, subregion, country or area *  ...  Total Population
9370                                 Japan  ...       126860299.0
16825                                Italy  ...        60550092.0
17109                             Portugal  ...        10226178.0
16754                               Greece  ...        10473452.0
17677                              Germany  ...        83517046.0

[5 rows x 9 columns]

#### Average ages of alive people in Pakistan and India 2019

In [47]:
world_population_by_age_2019[world_population_by_age_2019['Region, subregion, country or area *'].isin(['Pakistan', 'India'])][['Region, subregion, country or area *','Country code', 'Reference date (as of 1 July)' , 'Male Average Age Alive', 'Female Average Age Alive', 'Average Age Alive', 'Male Total Population', 'Female Total Population', 'Total Population']]

     Region, subregion, country or area *  ...  Total Population
8447                                India  ...      1.366418e+09
8731                             Pakistan  ...      2.165653e+08

[2 rows x 9 columns]

#### Population of young peoples
Asuming young person age 16-32

\begin{align*}
Percentage\;of\;Young\;Population = \frac{\sum_{32}^{age=16} Population\;of\;age}{Total\;population}\times{100}
\end{align*}

In [0]:
world_population_by_age_gender['Male Young Population'] = 0
world_population_by_age_gender['Female Young Population'] = 0
for i in range(33):
  world_population_by_age_gender['Male Young Population'] += world_population_by_age_gender['male'+str(i)]
  world_population_by_age_gender['Female Young Population'] += world_population_by_age_gender['female'+str(i)]
world_population_by_age_gender['Male Young Population %'] = (world_population_by_age_gender['Male Young Population'] / world_population_by_age_gender['Male Total Population']) * 100
world_population_by_age_gender['Female Young Population %'] = (world_population_by_age_gender['Female Young Population'] / world_population_by_age_gender['Female Total Population']) * 100
world_population_by_age_gender['Young Population'] = world_population_by_age_gender['Male Young Population'] + world_population_by_age_gender['Female Young Population']
world_population_by_age_gender['Young Population %'] = (world_population_by_age_gender['Young Population'] / world_population_by_age_gender['Total Population']) * 100
world_population_by_age_2019 = world_population_by_age_gender[world_population_by_age_gender['Reference date (as of 1 July)'] == 2019]

#### 50 countries with maximum % of young people in 2019

In [52]:
world_population_by_age_2019.nlargest(50, ['Young Population %'])[['Region, subregion, country or area *','Country code' ,'Young Population %', 'Male Young Population %', 'Female Young Population %', 'Male Young Population', 'Female Young Population', 'Young Population', 'Total Population']]

      Region, subregion, country or area *  ...  Total Population
5323                                 Niger  ...      2.331072e+07
3051                                Uganda  ...      4.426959e+07
3619                                  Chad  ...      1.594688e+07
2909                               Somalia  ...      1.544291e+07
5181                                  Mali  ...      1.965802e+07
1915                               Burundi  ...      1.153058e+07
3406                                Angola  ...      3.182530e+07
3193                                Zambia  ...      1.786103e+07
3548              Central African Republic  ...      4.745179e+06
4968                                Guinea  ...      1.277125e+07
4826                                Gambia  ...      2.347696e+06
2412                                Malawi  ...      1.862875e+07
2625                            Mozambique  ...      3.036604e+07
4613                          Burkina Faso  ...      2.032138e+07
8234                           Afghanistan  ...      3.804176e+07
3335                         Middle Africa  ...      1.743084e+08
3761      Democratic Republic of the Congo  ...      8.679057e+07
3122           United Republic of Tanzania  ...      5.800546e+07
1844                        Eastern Africa  ...      4.339049e+08
3477                              Cameroon  ...      2.587639e+07
5039                         Guinea-Bissau  ...      1.920917e+06
4755                         CÃ´te d'Ivoire  ...      2.571655e+07
4471                        Western Africa  ...      3.914401e+08
5465                               Senegal  ...      1.629636e+07
7595                                 Yemen  ...      2.916192e+07
5394                               Nigeria  ...      2.009636e+08
2199                              Ethiopia  ...      1.120787e+08
3264                              Zimbabwe  ...      1.464547e+07
1773                    SUB-SAHARAN AFRICA  ...      1.066283e+09
2980                           South Sudan  ...      1.106211e+07
4542                                 Benin  ...      1.180115e+07
1063                  Low-income countries  ...      7.558497e+08
5536                          Sierra Leone  ...      7.813207e+06
2341                            Madagascar  ...      2.696931e+07
2128                               Eritrea  ...      3.497117e+06
2270                                 Kenya  ...      5.257397e+07
3974                 Sao Tome and Principe  ...      2.150480e+05
5607                                  Togo  ...      8.082359e+06
7311                    State of Palestine  ...      4.981422e+06
3832                     Equatorial Guinea  ...      1.355982e+06
6104                                 Sudan  ...      4.281324e+07
5110                               Liberia  ...      4.937374e+06
2767                                Rwanda  ...      1.262694e+07
1276                                Africa  ...      1.308064e+09
4187                              Eswatini  ...      1.148133e+06
10293                          Timor-Leste  ...      1.293120e+06
3690                                 Congo  ...      5.380504e+06
1986                               Comoros  ...      8.508910e+05
5252                            Mauritania  ...      4.525698e+06
353              Least developed countries  ...      1.033389e+09

[50 rows x 9 columns]

### Saving combined structured data

In [0]:
world_population_by_age_gender.to_csv('/content/drive/My Drive/population_data/world_population_by_age_gender.csv')