# **World Population Analysis**


---


### Mounting Google Drive
Goto to link and paste the authorization code below.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Downloading World Population Prospects 2019 data
Download dataset from <a href='https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/5_Interpolated/WPP2019_INT_F03_1_POPULATION_BY_AGE_ANNUAL_BOTH_SEXES.xlsx'>World Population Prospects 2019</a>

### Upload dataset to drive
Upload `WPP2019_INT_F03_1_POPULATION_BY_AGE_ANNUAL_BOTH_SEXES.xlsx` dataset file to `/My Drive/population_data/`

In [3]:
import pandas as pd

world_population_by_age = pd.read_excel('/content/drive/My Drive/population_data/WPP2019_INT_F03_1_POPULATION_BY_AGE_ANNUAL_BOTH_SEXES.xlsx', sheet_name='ESTIMATES', index_col='Index', header=16)
world_population_by_age

         Variant Region, subregion, country or area *  ...      99     100
Index                                                  ...
1      Estimates                                WORLD  ...  17.157  33.899
2      Estimates                                WORLD  ...  16.288  31.136
3      Estimates                                WORLD  ...  15.445  28.901
4      Estimates                                WORLD  ...  14.688   27.03
5      Estimates                                WORLD  ...  14.055  25.461
...          ...                                  ...  ...     ...     ...
18101  Estimates             United States of America  ...  42.914  70.249
18102  Estimates             United States of America  ...  46.074  76.235
18103  Estimates             United States of America  ...  49.386  82.906
18104  Estimates             United States of America  ...  52.727  89.949
18105  Estimates             United States of America  ...  55.992  97.104

[18105 rows x 108 columns]

#### Unnecessary data

In [0]:
world_population_by_age[world_population_by_age['0'] == '...']

         Variant        Region, subregion, country or area *  ...   99  100
Index                                                         ...
72     Estimates                       UN development groups  ...  ...  ...
73     Estimates                       UN development groups  ...  ...  ...
74     Estimates                       UN development groups  ...  ...  ...
75     Estimates                       UN development groups  ...  ...  ...
76     Estimates                       UN development groups  ...  ...  ...
...          ...                                         ...  ...  ...  ...
1700   Estimates  Sustainable Development Goal (SDG) regions  ...  ...  ...
1701   Estimates  Sustainable Development Goal (SDG) regions  ...  ...  ...
1702   Estimates  Sustainable Development Goal (SDG) regions  ...  ...  ...
1703   Estimates  Sustainable Development Goal (SDG) regions  ...  ...  ...
1704   Estimates  Sustainable Development Goal (SDG) regions  ...  ...  ...

[284 rows x 108 columns]

#### Removing unnecessary data

In [0]:
world_population_by_age = world_population_by_age.drop(world_population_by_age[world_population_by_age['0'] == '...'].index)
world_population_by_age

         Variant Region, subregion, country or area *  ...      99     100
Index                                                  ...
1      Estimates                                WORLD  ...  17.157  33.899
2      Estimates                                WORLD  ...  16.288  31.136
3      Estimates                                WORLD  ...  15.445  28.901
4      Estimates                                WORLD  ...  14.688   27.03
5      Estimates                                WORLD  ...  14.055  25.461
...          ...                                  ...  ...     ...     ...
18101  Estimates             United States of America  ...  42.914  70.249
18102  Estimates             United States of America  ...  46.074  76.235
18103  Estimates             United States of America  ...  49.386  82.906
18104  Estimates             United States of America  ...  52.727  89.949
18105  Estimates             United States of America  ...  55.992  97.104

[17821 rows x 108 columns]

### Average Age
Calculating average age of alive people in each Region, subregion, country or area *

\begin{align*}
Average Age = \frac{\sum_{100}^{age=0} Population\;of\;age\;\times\;age}{Total\;population}
\end{align*}

Also multiply each population entry by 1000 because population is in thousands.

In [0]:
world_population_by_age['Average Age'] = 0
world_population_by_age['Total Population'] = 0
for i in range(101):
  world_population_by_age[str(i)] = pd.to_numeric(world_population_by_age[str(i)], errors='coerce').fillna(0) * 1000
  world_population_by_age['Average Age'] += world_population_by_age[str(i)] * i
  world_population_by_age['Total Population'] += world_population_by_age[str(i)]
world_population_by_age['Average Age'] /= world_population_by_age['Total Population']

### Average ages of currently alive people ever from 1950-2019
This shows that most of the people alive in that country have that age

#### Minimum average ages ever (All countries)

In [0]:
world_population_by_age.nsmallest(5, ['Average Age'])[['Region, subregion, country or area *','Country code', 'Reference date (as of 1 July)' , 'Average Age', 'Total Population']]

      Region, subregion, country or area *  ...  Total Population
Index                                       ...
5255                                 Niger  ...         2559706.0
5256                                 Niger  ...         2638130.0
5257                                 Niger  ...         2716815.0
5258                                 Niger  ...         2795799.0
7567                                 Yemen  ...        11709987.0

[5 rows x 5 columns]

#### Minimum average ages of currently alive people 2019

In [0]:
world_population_by_age_2019 = world_population_by_age[world_population_by_age['Reference date (as of 1 July)'] == 2019]
world_population_by_age_2019.nsmallest(5, ['Average Age'])[['Region, subregion, country or area *','Country code' , 'Average Age', 'Total Population']]

      Region, subregion, country or area *  ...  Total Population
Index                                       ...
5324                                 Niger  ...        23310719.0
3052                                Uganda  ...        44269587.0
3620                                  Chad  ...        15946882.0
5182                                  Mali  ...        19658023.0
3407                                Angola  ...        31825299.0

[5 rows x 4 columns]

#### Maximum average ages of alive people ever by year (All countries)

In [0]:
world_population_by_age.nlargest(5, ['Average Age'])[['Region, subregion, country or area *','Country code', 'Reference date (as of 1 July)' , 'Average Age', 'Total Population']]

      Region, subregion, country or area *  ...  Total Population
Index                                       ...
9372                                 Japan  ...       126476458.0
9371                                 Japan  ...       126860299.0
9370                                 Japan  ...       127202190.0
9369                                 Japan  ...       127502728.0
9368                                 Japan  ...       127763267.0

[5 rows x 5 columns]

#### Maximum average ages of currently alive people 2019

In [0]:
world_population_by_age_2019.nlargest(5, ['Average Age'])[['Region, subregion, country or area *','Country code' , 'Average Age', 'Total Population']]

      Region, subregion, country or area *  ...  Total Population
Index                                       ...
9371                                 Japan  ...       126860299.0
16826                                Italy  ...        60550092.0
17110                             Portugal  ...        10226178.0
16755                               Greece  ...        10473452.0
17678                              Germany  ...        83517046.0

[5 rows x 4 columns]

#### Average ages of alive people in Pakistan and India 2019

In [0]:
world_population_by_age_2019[world_population_by_age_2019['Region, subregion, country or area *'].isin(['Pakistan', 'India'])][['Region, subregion, country or area *','Country code' , 'Average Age', 'Total Population']]

      Region, subregion, country or area *  ...  Total Population
Index                                       ...
8448                                 India  ...      1.366418e+09
8732                              Pakistan  ...      2.165653e+08

[2 rows x 4 columns]

#### Population of young peoples
Asuming young person age 16-32

\begin{align*}
Percentage\;of\;Young\;Population = \frac{\sum_{32}^{age=16} Population\;of\;age}{Total\;population}\times{100}
\end{align*}

In [0]:
world_population_by_age['Young Population'] = 0
for i in range(33):
  world_population_by_age['Young Population'] += world_population_by_age[str(i)]
world_population_by_age['Young Population %'] = (world_population_by_age['Young Population'] / world_population_by_age['Total Population']) * 100
world_population_by_age_2019 = world_population_by_age[world_population_by_age['Reference date (as of 1 July)'] == 2019]

#### 50 countries with maximum % of young people in 2019

In [0]:
world_population_by_age_2019.nlargest(50, ['Young Population %'])[['Region, subregion, country or area *','Country code' ,'Young Population %', 'Young Population', 'Average Age', 'Total Population']]

      Region, subregion, country or area *  ...  Total Population
Index                                       ...
5324                                 Niger  ...      2.331072e+07
3052                                Uganda  ...      4.426959e+07
3620                                  Chad  ...      1.594688e+07
2910                               Somalia  ...      1.544291e+07
5182                                  Mali  ...      1.965802e+07
1916                               Burundi  ...      1.153058e+07
3407                                Angola  ...      3.182530e+07
3194                                Zambia  ...      1.786103e+07
3549              Central African Republic  ...      4.745179e+06
4969                                Guinea  ...      1.277125e+07
4827                                Gambia  ...      2.347696e+06
2413                                Malawi  ...      1.862875e+07
2626                            Mozambique  ...      3.036604e+07
4614                          Burkina Faso  ...      2.032138e+07
8235                           Afghanistan  ...      3.804176e+07
3336                         Middle Africa  ...      1.743084e+08
3762      Democratic Republic of the Congo  ...      8.679057e+07
3123           United Republic of Tanzania  ...      5.800546e+07
1845                        Eastern Africa  ...      4.339049e+08
3478                              Cameroon  ...      2.587639e+07
5040                         Guinea-Bissau  ...      1.920917e+06
4756                         CÃ´te d'Ivoire  ...      2.571655e+07
4472                        Western Africa  ...      3.914401e+08
5466                               Senegal  ...      1.629636e+07
7596                                 Yemen  ...      2.916192e+07
5395                               Nigeria  ...      2.009636e+08
2200                              Ethiopia  ...      1.120787e+08
3265                              Zimbabwe  ...      1.464547e+07
1774                    SUB-SAHARAN AFRICA  ...      1.066283e+09
2981                           South Sudan  ...      1.106211e+07
4543                                 Benin  ...      1.180115e+07
1064                  Low-income countries  ...      7.558497e+08
5537                          Sierra Leone  ...      7.813207e+06
2342                            Madagascar  ...      2.696931e+07
2129                               Eritrea  ...      3.497117e+06
2271                                 Kenya  ...      5.257397e+07
3975                 Sao Tome and Principe  ...      2.150480e+05
5608                                  Togo  ...      8.082359e+06
7312                    State of Palestine  ...      4.981422e+06
3833                     Equatorial Guinea  ...      1.355982e+06
6105                                 Sudan  ...      4.281324e+07
5111                               Liberia  ...      4.937374e+06
2768                                Rwanda  ...      1.262694e+07
1277                                Africa  ...      1.308064e+09
4188                              Eswatini  ...      1.148133e+06
10294                          Timor-Leste  ...      1.293120e+06
3691                                 Congo  ...      5.380504e+06
1987                               Comoros  ...      8.508910e+05
5253                            Mauritania  ...      4.525698e+06
354              Least developed countries  ...      1.033389e+09

[50 rows x 6 columns]